.container-candiesProducts {
  margin-top: 50px;
  padding: 10px 0;
}

.container-candies {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product4 {
  width: 55%;
  border-radius: 70px;
  border: 4px solid rgba(0, 0, 0, 0.7);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.6);
}
.product5 {
  width: 40%;
  border-radius: 70px;
  border: 4px solid rgba(0, 0, 0, 0.7);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
  .subtitle2 {
    font-size: 40px;
  }
  .container-candies {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
  }
  .product4 {
    width: 45%;
  }
  .product5 {
    width: 35%;
  }
}

@media (max-width: 576px) {
  .container-candies {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
  }
  .product4 {
    width: 40%;
  }
  .product5 {
    width: 35%;
  }
}
